:root {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif, "Helvetica Neue";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: var(--bg-secondary);
    background-color: var(--text-secondary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    z-index: 100;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.2rem;
    letter-spacing: 0.3ch;
    width: 100%;
}


.logo svg {
    margin: auto;
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text
{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/********************** Main area ***************************/

.header-video-parallax-home {
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-video-parallax-home:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #413b46, transparent);
    z-index: 1;
}

.header-video-parallax-home video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}


#logoVideo {
    width: 50vw;
    opacity: 70%;
    position: relative;
}

.content-section-products {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-section-products .text-box-content-products {
    position: relative;
    max-width: 600px;
}

.content-section-products .text-box-content-products h2 {
    justify-content: center;
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--bg-primary);
    margin-bottom: 10px;
}

.content-section-products p {
    text-align: center;
    color: var(--bg-secondary);
}

.content-section-products .text-box-content-products a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #df49a6;
    color: var(--bg-secondary);
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/********* slider products *******/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    position: absolute;
    bottom: 150px;
    max-height: 100%;
}

.content-section-products .img-box-products {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.content-section-products .img-box-products img {
    max-width: 150px;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

@media (max-width: 991px) {

    .content-section-products {
        flex-direction: column;
    }

    .content-section-products .text-box-content-products,
    .content-section-products .img-box-products {
        max-width: 100%;
    }

    .swiper-slide {
        height: 300px;
    }
}



/* Tela Pequena */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        overflow: initial;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .link-text {
        flex-direction: column;
        position: absolute;
        display: flex;
        margin: 3rem;
        padding-top: 50px;
    }

    .nav-link {
        justify-content: center;
    }
    .nav-link svg {
        margin: 0 1.2rem;
    }
    .main {
        margin: 0;
    }
}

/* Tela grande */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg
    {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text
    {
        left: 0;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

/********* section about ********/

.about-section {
    background: url("../img/section/04.jpg") no-repeat left;
    background-size: 50%;
    background-color: var(--bg-primary);
    overflow: hidden;
    padding: 100px 0;
}

.about-container {
    width: 50%;
    float: right;
    background-color: var(--text-secondary);
    padding: 100px;
}

.about-container h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: var(--bg-secondary);
}

.about-container p {
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .about-container {
        padding: 80px;
    }

}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .about-container h1 {
        font-size: 2rem;
    }

    .about-container {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }
    .about-container h1 {
        font-size: 1.5rem;
    }
    .about-container {
        padding: 40px;
    }
}

/********** section Contats *******/

.contacts-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.card-contact {
    background: var(--bg-secondary);
    padding: 0 20px;
    margin: 0 20px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    cursor: pointer;
}

.card-icon {
    font-size: 2rem;
    background: var(--bg-secondary);
    width: 60px;
    height: 60px;
    align-items: center;
    line-height: 1.5rem !important;
    border-radius: 50%;
    transition: 0.3s linear;
    text-align: center;
}

.card-contact:hover .card-icon {
    background: none;
    color: #df49a6;
    transform: scale(1.5);
}

.card-contact p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;

}

.card-contact:hover p {
    max-height: 40px;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .contacts-section {
        flex-direction: column;
    }
    .card-contact {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }

}